# Firebase
DrKimmons/GoogleService-Info.plist

# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Scripts
scripts/node_modules/
scripts/serviceAccount.json

# Course documents
*.docx
